body{
    width: 700px;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    font-family: 'Open Sans', sans-serif;    
}
.heading{ 
    text-align: center;
}
.container{
    border: 2px black solid;
    margin: 10px;
    padding: 5px;
}
.form{
    display: flex;
}
.image-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    border: 2px black solid;
    margin:15px;
    padding: 5px;
    height: 150px;
}
img{
    margin: 10px;
    border:1px black solid;
    border-radius: 50%;
}
.contact-right{
    font-size: 15px;
    flex-basis: 70%;
}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
}
input{
    margin:5px;
    width: 50%;
}
select{
    margin:5px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
button{
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
    margin-right: 15px;
    margin-top: 15px;
    box-shadow: 0px 5px 15px 0px gray;
}

@media (max-width:500px) {
    body{
        max-width: 450px;
        margin:5px;
    }
    .container{
        max-width: 100%;
        margin: 7px;
    }
    .contact-right{
        font-size: 12px;
        padding: 0px;
        max-width: 100%;
    }
    input{
        width:110px;
    }
    button{
        max-width: 100%;
    }
    form{
        max-width: 100%;
    }
    .image-left{
        margin: 2px;
        flex-basis: 20%;
        height:150px;
    }
}